<div>
    <div class="panel panel-success">
        <div class="panel panel-heading panel-success">
           Opciones Arma tu Campaña 
        </div>
        <div class="panel panel-body">
            
            <a href="@Url.Action("Datos", "Campaña")" class="btn btn-warning">
                Vamos desde 0
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>

            <a href="@Url.Action("Campañas", "Campaña")" class="btn btn-warning">
                Veamos que Hay
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
